* {
    margin: 0;
    padding: 0;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    position: absolute;
        z-index: 100;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.navbar-inverse .navbar-nav {
    margin-left: 50px;

}

canvas {
     clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
   
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 30px;
    color: white;
}
.navbar-inverse .navbar-nav > li {
    border: solid 1px transparent;
}

.navbar-inverse .navbar-nav > li:hover {
    border: solid 1px white;
}
.navbar-inverse .navbar-nav > li {
    margin-right: 20px;
  display: inline-block;
    position: relative;
}

.navbar-inverse {
    background: url(/Content/img/bckg.jpg)!important;
    background-size: cover;
    position: relative;
    width: 100%;
    background-position: top;
    height: 600px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);

}